<!-- <body>
    <div style="background-image: url(https://www.google.co.th/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fanime-cloud&psig=AOvVaw1Ydn2YoxPvaO37jJ2zVmWG&ust=1600358279652000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjvh6uF7usCFQAAAAAdAAAAABAD);"></div>
</body> -->
<!-- <input type="button" value="Go back!" onclick="history.back()"> -->
{% block content %}

<h1><strong>Question: {{ question.question_text }}</strong></h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger {{ message.info }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<p> Let vote {{question.last_vote}}</p>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" 
            name="choice" 
            id="choice{{forloop.counter}}" 
            value="{{choice.id}}">
    <label for="choice{{forloop.counter}}">{{choice.choice_text}}
    </label>
    <br>
{% endfor %}
    <br>
    <input type="submit" value="Vote">
<a href="{% url 'polls:index'%}">{{"Back to List of Polls"}}</a>
</form>

{% endblock %}