{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if messages %}
    {% for message in messages %}
        <div class="{{message.warning}}" style="color: red;">
          <strong>{{message}}<strong>
        </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
  <div>
    Hello {{ user.username }}, 
    <a>Click</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a> to Logout</a>
  </div>
{% else %}
  <a>Please Login to vote </a>
  <a href="{% url 'login' %}" class="float-right">Login</a>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <p>Question: {{ question.question_text }}</p>
        {% if question.can_vote %}
            {% if user.is_authenticated %} <a href="{% url 'polls:detail' question.id %}">vote</a> {% endif %}
        {% endif %}
        <a href="{% url 'polls:results' question.id %}">result</a>
    {% endfor %}
    </ul>
{% else %}
    <p class="mt-4 text-center">No polls are available.</p>
{% endif %}

{% if user.is_authenticated %} <a href="{% url 'logout' %}">Logout</a>{% endif %}

{% endblock %}
